# coding: utf-8

"""
Wandelbots NOVA API

Interact with robots in an easy and intuitive way.

The version of the OpenAPI document: 2.6.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""  # noqa: E501

from furl import furl
import json
import humps
import re
import warnings
import websockets
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, AsyncGenerator, Callable, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated
from urllib.parse import quote

from pydantic import Field, StrictStr
from typing_extensions import Annotated
from wandelbots_api_client.v2_pydantic.models import ExecuteActionChunksRequest
from wandelbots_api_client.v2_pydantic.models import ExecuteActionChunksResponse

from wandelbots_api_client.v2_pydantic.api_client import ApiClient, RequestSerialized
from wandelbots_api_client.v2_pydantic.api_response import ApiResponse
from wandelbots_api_client.v2_pydantic.rest import RESTResponseType


class ActionChunkStreamingApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_call
    async def execute_action_chunks(
        self,
        cell: Annotated[StrictStr, Field(description="Unique identifier addressing a cell in all API calls. ")],
        controller: Annotated[StrictStr, Field(description="Unique identifier to address a controller in the cell.")],
        client_request_generator: Callable[
            [AsyncGenerator[ExecuteActionChunksResponse, None]], AsyncGenerator[ExecuteActionChunksRequest, None]
        ],
    ) -> None:  # noqa: E501
        """Execute Action Chunks  # noqa: E501

        **Required permissions:** `can_operate_controllers` - Operate and monitor robot controllers ___  <!-- theme: danger -->  > **Experimental** > > This endpoint is experimental and its behavior may change in future releases.  > Websocket endpoint  Provides action chunk control for a motion group.  An action chunk is a queue of timed waypoints that the robot moves through by best effort. This can be used for realtime action chunk streaming, e.g., from a Vision-Language-Action (VLA) model.  ### Preconditions  The motion group is not moved by any other endpoint.  ### Requests  #### 1. Send `InitializeActionChunksRequest` to configure the action chunk.  - Sets the robot controller mode to control mode. - Claims the motion group. For robotic arms, TCP is required to ensure that limits, including TCP limits, are respected.  > **NOTE** > > By default, the robot controller returns to monitor mode after each movement, which causes a pause before the next movement starts. > To keep the motors activated and avoid this pause between sequential movements, set control mode as the controller's default with [setDefaultMode](#/operations/setDefaultMode).  #### 2. Send `ActionChunk`s to stream waypoints.  - The first message starts an internal clock. - Each waypoint carries a timestamp relative to that clock for when it should be reached. - Existing waypoints in the queue that are older than the first new timestamp are removed. - The current session timestamp is reported in `execute.details.jogger_session_timestamp_ms` of the [streamRobotControllerState](#/operations/streamRobotControllerState) endpoint.  #### 3. Stop the motion  - Send `PauseActionChunksRequest` to stop the motion.  ### Responses  - Each request is acknowledged with a corresponding response:   - `InitializeActionChunksResponse` after `InitializeActionChunksRequest`   - `ActionChunkResponse` after `ActionChunkRequest`   - `PauseActionChunksResponse` after `PauseActionChunksRequest`   The responses confirm that the requests were received.   They do not signal that the operation was successful; check the [motion group state](#/operations/streamMotionGroupState) for that. - `MovementErrorResponse` with error details is sent in case of an unexpected error, e.g., controller disconnects during moving.  ### Tips and Tricks  - Ensure that the websocket connection remains open until the action chunk motion is stopped to avoid unexpected stops.  ### Robot States  - The robot controller state is reported in the [streamRobotControllerState](#/operations/streamRobotControllerState) as JOGGING. - The meaning of the states is:   - `RUNNING`: The robot is moving through the waypoints. The clock (`execute.details.jogger_session_timestamp_ms`) is running.   - `PAUSED_BY_USER`: The robot is braking or in standstill due to a user request. The clock IS paused.   - `PAUSED_NEAR_JOINT_LIMIT`: The robot is braking due to a joint limit. The clock is NOT paused.   - `PAUSED_NEAR_COLLISION`: The robot is braking due to a collision. The clock is NOT paused.   - `PAUSED_NEAR_SINGULARITY`: The robot is braking due to a singularity. The clock is NOT paused.   - `PAUSED_NEAR_WORKSPACE_BOUNDARY`: The robot is braking due to a workspace boundary. The clock is NOT paused.   # noqa: E501
        :param client_request_generator: An AsyncGenerator that yields request of type ExecuteActionChunksRequest and takes an AsyncGenerator of ExecuteActionChunksResponse as an input argument (required)
        :info All responses from the server will be yielded to client_request_generator through the (AsyncGenerator[ExecuteActionChunksResponse, None])
        :type AsyncGenerator[ExecuteActionChunksRequest, None]
        """

        def format_path_parameters(path):
            # Find all substrings that are enclosed in brackets
            bracket_contents = re.findall(r"\{(.*?)\}", path)

            # For each found substring, alter it to match the python variable name
            for content in bracket_contents:
                content = "{" + content + "}"
                modified_content = humps.dekebabize(content)
                path = path.replace(content, modified_content)

            return path

        async def iterate_responses(ws) -> AsyncGenerator[ExecuteActionChunksResponse, None]:
            async for response in ws:
                if "Cancelled on the server side" in response:
                    break
                response_data = json.loads(response)
                if "result" not in response_data:
                    raise Exception(response_data)

                yield ExecuteActionChunksResponse.model_validate(response_data["result"])

        path = format_path_parameters("/experimental/cells/{cell}/controllers/{controller}/execution/action-chunk-streaming")
        path = path.format(
            cell=cell,
            controller=controller,
        )

        headers = websockets.Headers()
        tmp_host = self.api_client.configuration.host
        if self.api_client.configuration.host.startswith("https://"):
            # Basic Auth
            if self.api_client.configuration.username:
                tmp_host = self.api_client.configuration.host.replace("https://", "")
                tmp_host = f"wss://{self.api_client.configuration.username}:{self.api_client.configuration.password}@{tmp_host}"

            # OAuth2
            elif self.api_client.configuration.access_token:
                tmp_host = self.api_client.configuration.host.replace("https://", "")
                tmp_host = f"wss://{tmp_host}"
                headers = websockets.Headers([("Authorization", f"Bearer {self.api_client.configuration.access_token}")])
        else:
            tmp_host = tmp_host.replace("http://", "ws://")

        full_url = furl(tmp_host + path)

        async with websockets.connect(full_url.url, open_timeout=10, additional_headers=headers) as websocket:
            try:
                async for request in client_request_generator(iterate_responses(websocket)):
                    await websocket.send(request.model_dump_json(exclude_none=True))
            finally:
                await websocket.close()
